body {
    background: #111;
    margin: 0;
    padding: 0;
}

canvas {
    border: 1px solid #fff;
    left: 50%;
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}
